* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  border: none;
  outline: none;
}


/* 整体滚动条 */
::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: lightskyblue;
  border-radius: 5px;
}

.drag {
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}
