#app {
    // background-color: rgb(1, 1, 1);
    // color: #fff;
    // overflow: hidden;
    // background-image: url(../assets/bg5.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}
.container {
    background-color: rgb(1, 1, 1);
    color: #fff;
    overflow: hidden;
    background-image: url(../assets/bg5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container__mask {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.5);
}
.header {
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    &__left {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        &-close {
            flex-shrink: 0;
            width: 30px;
            min-width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 10px;
            overflow: hidden;
            color: #fff;
            border: 1px solid #fff;
            cursor: pointer;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        margin-left: 5px;
        flex-shrink: 0;
        width: fit-content;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 5px;
            color: #fff;
            // border: 1px solid #fff;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.min {
                align-items: flex-end;
                padding-bottom: 1px;
            }
        }
    }
}
.main {
    flex: 1;
    width: 100vw;
    display: flex;
    overflow: hidden;
}
.folder {
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 15px;
    border: 4px solid rgb(48, 48, 48);
    background-color: rgba(10, 10, 10, 0.7);
    &-title {
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(48, 48, 48);
    }
    &-list {
        flex: 1;
        overflow-y: auto;
    }
    &-item {
        // width: 100%;
        white-space: nowrap;
        padding: 10px;
        margin: 0 10px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        &-cover {
            width: 180px;
            height: 200px;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-name {
            text-align: center;
        }
        &_active {
            border-color: #d8ab18;
        }
    }
}

.file {
    flex: 1;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid rgb(48, 48, 48);
    background-color: rgba(10, 10, 10, 0.7);
    &-title {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgb(48, 48, 48);
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: skyblue;
            cursor: pointer;
            padding: 2px 5px;
        }
        &-separate {
            margin: 0 4px;
        }
    }
    &-container {
        height: calc(100% - 42px);
        overflow-y: auto;
    }
    &-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;
    }
    &-empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding: 0 20px;
    &-application {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 140px;
        height: 38px;
        border-radius: 20px;
        background-color: lightskyblue;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        border: 4px solid rgb(48, 48, 48);
        cursor: pointer;
    }
}
